.box3 {
    display: inline-block;

   
    margin: 10px;
	background-color:#FFD7D7;
    border: 1px solid ;
	border-color:#FCFCFC;  
}

.after-box {
    border: 3px solid red; 
}

hr{
width:300px;
}
b{
left:300;
right:300;
}