.floating-box {
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 10px;
	background-color:#FDFDFD;
    border: 1px solid ;
	border-color:#CCCCCC;  
}

.after-box {
    border: 3px solid red; 
}

hr{
width:300px;
}
b{
left:300;
right:300;
}